.navigation {

  &__button {     // WHITE CIRCLE which must cover the background (GREEN circle)
    height: 7rem; // bigger to cover the background GREEN circle
    width: 7rem;  // same height and width to be a circle
    border-radius: 50%;
    background-color: $color-white;

    position: fixed;
      top: 6rem;
      right: 6rem;
      z-index: 2000; // high value to avoid being hidden behind other elements + cover background circle

    text-align: center; // center its content horizontally
    cursor: pointer;
  }

  
  &__background { // GREEN CIRCLE
    height: 6rem;
    width: 6rem;  // same height and width to be a circle
    border-radius: 50%;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);

    position: fixed;
      top: 6.5rem;
      right: 6.5rem;
      z-index: 1000; // high value to avoid being hidden behind other elements

    // transform: scale(60); // WARNING: only for development purposes
    //-webkit-transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  }


  &__nav {
    height: 100vh;  // occupy the entire viewport
    //width: 100%;    // not needed (block element automatically has 100% width)
    width: 0; opacity: 0;  // hide navigation
    
    position: fixed;
      top: 0;
      left: -100%;   // push the nav element off-screen entirely 
      z-index: 1500; // has to be in the middle of WHITE and GREEN circle

    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    // center the list 
    @include center-horizontal-vertical;

    list-style: none;
    counter-reset: section;// CSS counter named 'section' to enumerate the list (initial value is 0) 

    //width: 100% // WHY??? (min6 class50)
  }

  &__item {
    margin: 1rem;
  }

  &__link {

    &::before { 
      counter-increment: section; // Increments CSS counter named 'section'
      content: "0" counters(section, ".") " ";
      margin-right: 1rem;
    }

    &:link,
    &:visited {
      display: inline-block; // inline elements are not transformable and not padding top-bottom
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 2rem;
      transition: all .4s;
  
      // solid color gradient
      background-image: linear-gradient(120deg, transparent 50%, $color-white 50%);
      background-size: 230%; // to hide the right side of the solid color gradient (the white color) 
    }

    &:focus {
      outline: none;   // remove the blue border on our links when you use the tab key
      border-bottom: 2px solid $color-white; // make element focused visible when you use the tab key */
    }

    &:hover,
    &:active {
      background-position: 100%;  // shift the background to the left side
      color: $color-primary;
      transform: translateX(1rem); 
    }
  }

  &__checkbox {
    display: none;
  }

  //FUNCTIONALITY
  // Use the general sibling selector (~) to select the right element
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%; opacity: 1;  // make visible the navigation
    left: 0;                  // push the nav element on-screen 
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;   // to center it vertically

    &,
    &::before,
    &::after {
      // to be able to apply width and height (<span> is inline)
      display: inline-block; 

      // the 3 dark lines
      width: 3rem;
      height: 2px; // in px because we don't want this size to change
      background-color: $color-grey-dark-3;
    }

    &::before,
    &::after {
      content: ''; // for ::before, ::after pseudo elements to appear on the page
      position: absolute; // to place them where we want (left, top) relative to the icon
      left: 0;
      transition: all .2s;
    }

    &::before { 
      top: -.8rem;  // move it up
    } 

    &::after { 
      top: .8rem;  // move it down
    } 
  }

  // HOVER on button -> increase spacing of the lines
  &__button:hover &__icon::before {
    top: -1rem; 
  }

  &__button:hover &__icon::after {
    top: 1rem; 
  }

  // When we click the button (label linked to checkbox) select the icon 
  &__checkbox:checked + &__button &__icon {
    background-color: transparent; // make the line in the middle disappear
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(-135deg); //rotate the top line to form a cross
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(135deg); //rotate the down line to form a cross
  }

}