.bg-video {
  position: absolute;
    top: 0;
    left: 0;
    height: 100%; // same size as the parent
    width: 100%;
  z-index: -1;    // put it behind (video in the background)
  opacity: .15;
  overflow: hidden;  // helps 'object-fit' to solve overflow issues

  // Solve the problem of the video overflowing
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover; // fill the entire parent while maintaining its aspect ratio
  }

  // Give my background-video a gradient overlay by using CSS pseudo element
    &::before {
    content: '';
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

    // last rgba value controls the transparency of the gradient
    background-image: linear-gradient(
      to right bottom, 
      rgba($color-primary-light, 0.101),
      rgba($color-primary-dark, 0.401)
    );
  }
}