.card {

  // FUNCTIONALITY
  // Define perspective on the parent element of the one where the rotation occurs
  perspective: 1500rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 100%;      // relative to its parent (currently 52rem)
    transition: all .8s ease;
    -webkit-backface-visibility: hidden; // required by Safari 9, 10, 11, 12
    backface-visibility: hidden; // hide the back part of an element
    border-radius: $border-radius-medium;
    overflow: hidden;  // avoid the card image overlapping its parent element
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    position: absolute; // Put each card side on top of each other 
      top: 0;
      left: 0;
      width: 100%; // relative to its parent


    // FRONT
    &--front {
      background-color: $color-white;

      // Avoid text from back side of the card (price/button) mixing with the front when TAB
      // make front card's z-index > than back of card. Then switch those values on hover.
      z-index: 2;
      &:hover {
        z-index: 1;
      }
    }

    // BACK
    &--back {
      transform: rotateY(180deg); // initially the back side is at 180 degrees

      z-index: 1;
      &:hover {
        z-index: 2;
      }

      &-1{
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-2{
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-3{
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg); // put the front side to the back
  }

  &:hover &__side--back {
    transform: rotateY(0);      // put the back side to the front
  }

  // FRONT SIDE STYLING
  &__picture {
    height: 23rem;
    background-size: cover;
    //background-blend-mode: soft-light; // color,
    //-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    //clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);


    // For browser which DON'T support 'clip-path' and 'blend-mode' 
    // at least be able to show picture in background use workaround with RGBA 
    // -------------------------------------------------------------------------
    &--1 {
      background-image: 
        linear-gradient(to right bottom, 
          rgba($color-secondary-light,.6), 
          rgba($color-secondary-dark,.6)),
        url(../img/nat-5-small.jpg);
      
      // WARNING! Because above 900px there will be 3 columns -> NO need for big images
      //   Even with 1 column (bellow 900px) + 2x screens res -> images bellow 750px  
      @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) {
        background-image: 
          linear-gradient(to right bottom, 
            rgba($color-secondary-light,.6), 
            rgba($color-secondary-dark,.6)),
          url('../img/nat-5.jpg');
      }
    }

    &--2 {
      background-image: 
      linear-gradient(to right bottom, 
        rgba($color-primary-light,.6), 
        rgba($color-primary-dark,.6)),
      url(../img/nat-6-small.jpg);
    
      // WARNING! Because above 900px there will be 3 columns -> NO need for big images
      //   Even with 1 column (bellow 900px) + 2x screens res -> images bellow 750px  
      @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) {
        background-image: 
          linear-gradient(to right bottom, 
            rgba($color-primary-light,.6), 
            rgba($color-primary-dark,.6)),
          url('../img/nat-6.jpg');
      }
    }

    &--3 {
      background-image: 
      linear-gradient(to right bottom, 
        rgba($color-tertiary-light,.6), 
        rgba($color-tertiary-dark,.6)),
      url(../img/nat-7-small.jpg);
    
      // WARNING! Because above 900px there will be 3 columns -> NO need for big images
      //   Even with 1 column (bellow 900px) + 2x screens res -> images bellow 750px  
      @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) {
        background-image: 
          linear-gradient(to right bottom, 
            rgba($color-tertiary-light,.6), 
            rgba($color-tertiary-dark,.6)),
          url('../img/nat-7.jpg');
      }
    }

    // For browsers which SUPPORT 'clip-path' + 'blend-mode'
    // -------------------------------------------------------------------------------

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      background-blend-mode: soft-light; // color,
      
      &--1 {
        background-image: 
          linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
          url(../img/nat-5-small.jpg);
        
        // WARNING! Because above 900px there will be 3 columns -> NO need for big images
        //   Even with 1 column (bellow 900px) + 2x screens res -> images bellow 750px  
        @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) {
          background-image: 
            linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
            url('../img/nat-5.jpg');
        }
      }

      &--2 {
        background-image: 
          linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
          url(../img/nat-6-small.jpg);
        
        @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) {
          background-image: 
            linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),                 
            url('../img/nat-6.jpg');
        }
      }

      &--3 {
        background-image: 
          linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
          url(../img/nat-7-small.jpg);

        @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) {
          background-image: 
            linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),                 
            url('../img/nat-7.jpg');
        }
      }
    } // @supports
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
      top: 12rem;
      right: 2rem;
      width: 75%; 
  }

  // A separate selector cause it is a new element in BEM (it's not a modifier of heading)
  &__heading-span {
    padding: 1rem 1.5rem; // the padding breaks the text into 2 lines (space not enough in 1 line)
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; // text inside the <span> as if they were 2 different elements

    &--1{
      background-image: linear-gradient(to right bottom, 
        rgba($color-secondary-light, .85), 
        rgba($color-secondary-dark, .85)),
    }

    &--2{
      background-image: linear-gradient(to right bottom, 
        rgba($color-primary-light, .85), 
        rgba($color-primary-dark, .85)),
    }

    &--3{
      background-image: linear-gradient(to right bottom, 
        rgba($color-tertiary-light, .85), 
        rgba($color-tertiary-dark, .85)),
    }
  }

  &__details {
    padding: 3rem;
  
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; // simplest way to center a block element inside a block element

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        // a border line for all elements in the list except last one
        &:not(:last-child){
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      transform: translate(-50%, -50%); /* in relation to the width and height of element itself */
    text-align: center;
  }

  &__price-box {
    margin-bottom: 8rem;
    color: $color-white; // its child elements will inherit it
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;    
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100; // Make the big text thinner
  }


  // -------------------------------------------------------------------------------------
  // For TOUCH DEVICES (width < tab-port) we will do a WHOLE rewrite of the card component
  // -------------------------------------------------------------------------------------
  //@include respond(tab-port) {
    @media only screen and (max-width: 56.25em), // tab-port or smaller
           only screen and (hover: none) {       // OR other any touch device
      
    // FUNCTIONALITY
    height: auto;
    //border-radius: $border-radius-small;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    background-color: $color-white;

    &__side {
      height: auto;      
      box-shadow: none;
      border-radius: $border-radius-small;
      position: relative; // On touch devices cards only 1 side 

      // FRONT

      // BACK
      &--back {
        transform: rotateY(0);// On touch devices back of the card NOT rotated
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0); // front side should NOT rotate when we hover it
    }

    // FRONT SIDE STYLING (almost the same as before)
    &__details {
      padding: 1rem 3rem;
    }

    // BACK SIDE STYLING
    &__cta {
      position: relative;  // On touch devices cards only 1 side (use relative)
        top: 0%;
        left: 0%;
        width: 100%;
        transform: translate(0); 
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 5rem;
    }
  }

}