.popup {

  background-color: rgba($color-black, .8);
  height: 100vh;           // occupy the full screen
  width: 100%;
  position: fixed;
    top: 0;
    left: 0;
    z-index: 5000; // a huge value to be even on top of the navigation button
  opacity: 0;
  visibility: hidden;
  //transition: all .3s;
  
  // Grafecul degradation using @supports rule
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, .3);
  }

  &__content {
    //height: 50rem;       // height only for testing purposes
    width: 75%;            // 75% of the parent (popup) 
    background-color: rgba($color-white, 1);
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;

    @include center-horizontal-vertical;
    text-align: left;      // not needed: 'left' it is the default value

    overflow: hidden;      // avoid images overflow the border-radius
    display: table;        // fake this is a table
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25); // 2 transforms to avoid overwriting
    transition: all .5s .2s;// animate with delay of .2secs

    // RESPONSIVE: for tab-land make the display block instead of table
    @include respond(tab-land) {
      display: block;
    }
  }

  &__left {
    //width: 33.333333%;   // 33.3% of the parent (popup__content) 
    width: (100% / 3);     // let SASS do the calculation    
    display: table-cell;   // left cell of table
    vertical-align: middle;

    //position: relative;

    // RESPONSIVE: for tab-land I put the images above and the text below
    @include respond(tab-land) {
      width: 100%;         // make the container of the image to be 100% width
      display: block;      // make display block instead of table-cell
      padding-bottom: 4rem;
    }
  }

  &__right {
    //width: 66.666667;    // 33.3% + 66.6 = 100%
    width: (100% / 2);
    display: table-cell;   // right cell of table
    vertical-align: middle;
    padding: 3rem 5rem;

    // RESPONSIVE: for tab-land
    @include respond(tab-land) {
      width: 100%;
      display: block;
      position: relative;  // for the closing X to appear
    }

    @include respond(phone) {
      padding: 0 3rem 3rem 3rem;
    }
  }

  &__img {
    display: block;
    width: 100%;           // 100% of the parent (popup__left)

    // RESPONSIVE: inside that container each image is 50% width
    @include respond(tab-land) {
      width: 50%; 
      height: 30rem;
      float: left;         // float them to place them in same line
      object-fit: cover;   // fill entire parent (popup__left) maintaining its aspect ratio
      margin-bottom: 2rem;
    }

    // RESPONSIVE: for phone don't show pictures
    @include respond(phone) {
      display: none;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    // separate text in columns
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    // CSS Hyphenation
    -ms-hyphens: auto;    
    -webkit-hyphens: auto; // saphary & chrome
    hyphens: auto;

    // RESPONSIVE: Reduce the margin-bottom
    @include respond(tab-land) {
      margin-bottom: 2.5rem;
    }
  }


  // FUNCTIONALITY
  // Open state: make the popup visible
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); // scale content to 100% as soon as the popup opens
  }

  // Close option1: click on the X
  &__close {

    &:link, 
    &:visited {
      color: $color-grey-dark;
      font-size: 3rem;
      text-decoration: none;
      line-height: 1;
      position: absolute;
        top: 2.5rem;
        right: 2.5rem;
      //display: inline-block;
      //transition: all .2s;

      // RESPONSIVE: Move up the X
      @include respond(tab-land) {
        top: -2.5rem;
      }
    }

    &:hover {
      color: $color-primary;
    }
  }


  // Close option2: click anywhere in the popup
  /*
  &__close-bg {
    height: 100vh;
    width: 100%;
    position: absolute;
      top: 0;
      left: 0;
    cursor: default;

    &:hover {
      background-color: rgba($color-grey-light-2, .1);
    }
  }  
   */
}