.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem; // padding + transform
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include clearfix;

  &__shape {
    // 'shape-outside' property needs properties float, width, height
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    float: left;
    width: 15rem;
    height: 15rem;

    // create the circle
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    // add space around an element that is floated + skew on the opposite direction
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }

  &__img {
    height: 100%; // For responsive web design, images always need width or height.
    transform: translateX(-4rem) scale(1.4);
    //backface-visibility: hidden;
    filter: brightness(100%) blur(0); // initial value: avoids shaky effect on Chrome
    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg); // skew on the opposite direction
  }

  &__caption {
    // center the caption on top of the image (position absolute relative to its __shape container)
    position: absolute; 
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%); /* in relation to the width and height of element itself */
      text-align: center;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    opacity: 0; // hide it before we hover it.
    //backface-visibility: hidden;
    transition: all .5s;
  }

  // when the story element is hovered, we want to change the caption
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);  // center it also on the vertical
  }

  // when the story element is hovered, we want to change the image
  &:hover &__img {
    opacity: 1;
    transform: translateX(-4rem) scale(1);
    filter: brightness(70%) blur(3px);
  }

}