/* UNIVERSAL SELECTOR for RESET */
/* Make a simple reset of browser defaults by using the universal selector */
/* 'border-box': include the padding and border in an element's total width and height */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */ 
  box-sizing: inherit; /* box-sizing by default is not inherited, so we force it */
}

/* Set our root font size (1rem will be this root font size)                        
/* DON'T define it in pixels! That will override the browser font size setting
 * that the user can manually change in the settings (for example for bad sight)  
 * By default the browser font size is 16px, if we want 10px (10px / 16px = 0.625)
 */
html{
  font-size: 62.5%;    // Normal style: 1rem = 10px, so 10/16px (62.5)

  // NOTE: place 'max-width' media queries from larger to shorter breakpoints
  @include respond(tab-land) { // is width <= 1200 px?
    font-size: 56.26%;         // I want 1rem = 9px, so 9px/16px (56.25%)
  }

  @include respond(tab-port) { // is width <= 900 px?
    font-size: 50%;            // I want 1rem = 8px, so 8px/16px (50%)
  }

  @include respond(phone) {    // is width <= 600 px?
    font-size: 43.75%;
  }

  // NOTE: place 'min-width' media queries from shorter to larger breakpoints
  @include respond(big-desktop) { // is width > 1800 px?
    font-size: 75%;            // I want 1rem = 12px, so 12px/16px (75%)
  }

  @include respond(huge-desktop) { // is width > 2600 px?
    font-size: 87.5%;            // I want 1rem = 14px, so 14px/16px (87.5%)
  }
}

body{
  box-sizing: border-box;
  padding: 3rem; 

  @include respond(tab-port) { // is width <= 900 px?
    padding: 0rem; 
  }
}