/* Define Font properties at BODY level (all the webpage) */
body{
  font-family:"Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary{
  color: white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  /* heading-primary--main */
  &--main{
    display: block; // make <span>, which is an inline element, a block 
    font-size: 6rem;
    font-weight: 700; 
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* animation-delay: 0s; */
    /* animation-iteration-count: 3; */

    @include respond(phone) {    // width <= 600 px
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }

  /* heading-primary--sub */
  &--sub{
    display: block; // make <span>, which is an inline element, a block
    font-size: 2rem;
    font-weight: 400; 
    letter-spacing: 1.75rem;

    animation: moveInRight 2s ease-out;

    @include respond(phone) {    // width <= 600 px
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;       // quite bold
  letter-spacing: 2px;    // so small we can use pixels
  display: inline-block;  // to make the gradient go only up to the element width
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text; //making that gradient effect happen behind the text.
  background-clip: text;  //Also define the standard property for compatibility
  color: transparent;     // Make text transparent to see the background image
  transition: all .2s;

  @include respond(tab-port) { // width <= 900 px
    font-size: 3rem;            
  }

  @include respond(phone) {    // width <= 600 px
    font-size: 2.5rem;   
  }

  &:hover{
    transform: skewY(-2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary{
  font-size: $default-font-size;
  text-transform: uppercase;
  font-weight: 700;       // quite bold
}

.paragraph{
  font-size: $default-font-size;
  margin-bottom: 3rem;
}