// SECTION-ABOUT
.section-about{
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh; 

  @include respond(tab-port) {  // is width < tab-port 
    padding: 20rem 0;            
  }
}

// SECTION-FEATURES
.section-features {
  padding: 20rem 0;
  position: relative;

  margin-top: -15rem; // move up the entire section to cover the white gap between sections 

  transform: skewY(-6deg);

  @include respond(tab-port) {  // is width < tab-port 
    padding: 10rem 0;        
    margin-top: -10rem;    
  }

  // Skew the cards in the opposite direction (to put them back into original position)!
  // select all direct childen of the 'section-features' (in the html will be the 'rows')
  & > * { 
    transform: skewY(6deg);
  }

  // Add margin ONLY to the 1st and last 'feature-box' in screens bigger than 'tab-port'
  & div.col-1-of-4:first-child .feature-box {
    margin-left:  1.5rem; 
  }

  & div.col-1-of-4:last-child .feature-box {
    margin-right:  1.5rem; 
  }

  @include respond(tab-port) {  // is width < tab-port 
    & div.col-1-of-4:first-child .feature-box {
      margin-left:  0; 
    } 
    
    & div.col-1-of-4:last-child .feature-box {
      margin-right:  0rem; 
    }
  }


  // Unskew the background image!
  // create a pseudo-element and add the background image to that instead. 
  &::after {
    content: '';

    position: absolute; // add 'position: relative' to the section-features
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
  
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.801),
      rgba($color-primary-dark, 0.801)),
    url('../img/nat-4.jpg');
    background-size: cover;
  
    z-index: -1; // pull behind feature boxes

    // if 2x screen resolution and width >= 600px (above phone)
    // OR if width >= 2000px
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
           only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
           only screen and (min-width: 125em) {
      background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.801),
        rgba($color-primary-dark, 0.801)
      ), url('../img/nat-4-large.jpg');
    }

  }
}

// SECTION-TOURS
.section-tours{
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -15rem; 

  @include respond(tab-port) {  // is width < tab-port 
    padding: 20rem 0 10rem 0;            
  }
}

// SECTION-STORIES
.section-stories{
  //background-color: $color-grey-light-1;
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {  // is width < tab-port 
    padding: 10rem 0;            
  }
}

// SECTION-BOOK
.section-book{
  padding: 15rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 1),
      rgba($color-primary-dark, 1));

  @include respond(tab-port) {  // is width < tab-port 
    padding: 10rem 0;            
  }
}

.book {
  //background-image: url('../img/nat-10.jpg');
  background-image: linear-gradient(
      100deg, 
      rgba($color-white, .9) 50%, 
      transparent 50%), 
    url('../img/nat-10.jpg');
  background-size: 100%; // the image occupies the entire width (x direction)  
  border-radius: $border-radius-small;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  //height: 50rem; // only for testing purposes (later we will want the content height)

  // if 2x screen resolution
  @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) {
    background-image: linear-gradient(
      100deg, 
      rgba($color-white, .9) 50%, 
      transparent 50%), 
    url('../img/nat-10-large.jpg');
  }

  // TABLET LANDSCAPE media queries
  @include respond(tab-land) {
    // change the gradient from 50% to 65%
    background-image: linear-gradient(
      100deg, 
      rgba($color-white, .9) 65%, 
      transparent 65%), 
    url('../img/nat-10.jpg');
    background-size: cover; // the image occupies the entire height (y direction)  

    // if 2x screen resolution
    @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
        100deg, 
        rgba($color-white, .9) 65%, 
        transparent 65%), 
      url('../img/nat-10-large.jpg');
    }
  }

  // TABLET PORTRAIT (and mobile) media queries
  @include respond(tab-port) {
    // change the gradient to all white
    background-image: linear-gradient(
      to right, 
      rgba($color-white, .9) 0%,
      rgba($color-white, .9) 100%), 
    url('../img/nat-10-tiny.jpg');

    // if 2x screen resolution
    @media only screen and (min-resolution: 192dpi), only screen and (-webkit-min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
        to right, 
        rgba($color-white, .9) 0%, 
        rgba($color-white, .9) 100%, 
        transparent 65%), 
      url('../img/nat-10-small.jpg');
    }
  }


  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%  // increase the width of form from 50% to 65%
    }

    @include respond(tab-port) {
      width: 100% // increase the width of form from 65% to 100%
    }
  }
}